<!-- navbar -->
<div class="row">
  <div class="col">
    <ndr-navbar></ndr-navbar>
  </div>
</div>

<!-- main content -->
<div class="row">
  <div class="col">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- three columns -->
<!--
<div class="row">
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </div>
</div>
-->
